# Change to database location (eg. SQLite or PostgresQL)
DATABASE_URL = "postgresql://localhost/bibfilter"

# Add admin username and password
APP_USERNAME="admin"
APP_PASSWORD="password"

# Change to own zotero library and collection ID 
LIBRARY_ID=2364338
COLLECTION_ID=VIZDZ4PX

# Insert URL to own form
SUGGEST_LITERATURE_URL="https://duckduckgo.com"

# Change to your timezone
TIMEZONE="Europe/Berlin"

# Change to whichever directory you want to images of tables
PDF_FOLDER='directory in which to save the PDF tables' when using Extract_regression_tables_from_PDF.py

# Change to TRUE if you have setup and want to use elasticsearch
USE_ELASTICSEARCH="TRUE"

# Change to TRUE if you want to see quotes of the original texts on the website (only works with elasticsearch)
SHOW_SEARCH_QUOTES="TRUE"

# This can be uncommentet to change the size of quotes, default is 300, minimum value is 18, max value 1200
#SEARCH_QUOTE_SIZE=350

# This only needs to be changed for non-default elasticsearch configurations
ELASTICSEARCH_URL="localhost:9200"

# Email in case of certificate changes
DOKKU_LETSENCRYPT_EMAIL=breznau.nate@gmail.com
