/* General Layout */
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
}

@media (min-width: 902px) {
    .container {
        display: flex;
    }
}

.sidebar {
    flex: 1;
    margin: 0 20;
    padding-top: 50;
    /* font-size: 0.9em; */
}

@media (min-width: 902px) {
    .main{
        flex: 4;
        padding: 10px;
    }
}


/* Textbox for number of results */
#textbox {
    background-color: #f2f2f2;
    border: 1px solid lightgray;
    padding: 5px 10px;
    margin: 10px;
}

#textbox p {
    margin: 4px;
}


/* Form */
.listwrapper {
    list-style-type: none;
    padding: 0;
}

.fieldsetcontainer {
    padding: .5em;
}
fieldset {
    border: 1px solid lightgray;
}
form fieldset p {
    margin: 1px;
    
}

/* make the form stick to the top */
.stickyside {
    position: sticky;
    top: 40px;   
}

/* Form */
.form-row {
display: flex;
justify-content: flex-end;
padding: .5em;
}
.form-row > label {
padding: .5em 1em .5em 0;
flex: 1;
margin: 3px;
}
.form-row > input {
    font-size: 0.8em;
    background-color: white;
    height: 3em;
    border: 1px solid lightgray;
    margin: 3px;
    padding: 9px;
    border-radius: 4px;
    flex: 2;
}
.form-row > button, .center-top > .button{
    background: #3a4a52;
    font-size: 1.4em;
    padding: 5px 20px;
    color: white;
    border: 0;
    margin: 3px;
    border-radius: 3px;
}

.form-row > button:hover {
    background: #4d6e80;
}

.form-row > .linkButton, .center-top > .linkButton {
    background-color: orange;
    color: black;
    padding: 8 20;
    text-decoration: none;
    display: inline-block;
}

.fieldset_table td {
    border: none;
}

button#add {
    font-size: 0.8em;
    height: 3em;
}
button#add span {
    font-size: 1.6em;
}



#addArticleForm {
    text-align: right;
}

#addArticleForm .form-row {
    padding: .1em .5em;
}

.suggestTitle {
    font-size: 1.3em;
}

.form-row > .linkButton:hover {
    background-color: orangered;
}

/* Table */
table {
    border-collapse: collapse;
    word-break: break-word;
}

/* column size  */
th {
    word-break: keep-all;
}
@media (min-width: 451px) {
    th a{
        font-size: 1.1em;
    }
    table {
        font-size: 1em;
    }
    table colgroup #authorlast {
        max-width: 13%;
    }
    td {
        padding: 10px 8px;
    }

    a.externalUrl {
        padding: 5px;
    }
    colgroup #url {
        width: 55pt;
    }
    colgroup #year {
        min-width: 45pt;
    } 
    colgroup #ID {
        min-width: 55pt;
    }
    colgroup #_date_created_str{
        min-width: 62pt;
    }
}

/* For very small screens */
@media (max-width: 450px) {
    /* td {
        word-break: keep-all;
    } */
    a.externalUrl {
        padding: 2px;
    }
    th a{
        font-size: 0.9em;
    }
    table {
        font-size: 0.8em;
    }
    td {
        padding: 10px 1px;
    }
    colgroup #title {
        width: 200pt;
    }
    colgroup #url {
        min-width: 40pt;
    }
    colgroup #year {
        min-width: 30pt;
    }
}

@media (min-width: 902px) {
    colgroup #title {
        min-width: 48%;
    }
}
@media (max-width: 901px) {
    colgroup #title {
        min-width: 30%;
    }
}

td {
    vertical-align: top;
    border-bottom: 1px solid lightgray;
    margin: 0px;
}

/* add stripes to table */
.articlerow:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Hover over table rows */
.articlerow:hover td {
    background: #dbf5fa;
    }

/* make table header look nice */
th {
    text-align: left;
    color: #fff;
    background-color: #3a4a52;
    border-color: oldlace; 
    position: sticky;
    padding: 5px 10px;
    top: 0px;
}

table a {
    color: white;
    text-decoration: none;
}

th a {
    display: block;
}
th:hover {
    background-color: #4d6e80
}

a.externalUrl {
    color: #fff;
    background-color: #3a4a52;
    border-radius: 2px;
}
a.externalUrl:hover {
    background-color: #4d6e80;
}

.typeicon {
    width: 1.2em;
    height: 1.2em;
}

/* Admin Header*/
.header {
    background-color: lightsteelblue;
    border: 0;
    font-size: 1.2em;
    padding: 15px 0px;
}
@media (min-width: 902px) {
    .header {
        display: flex;
        padding: 20px 60px;
    }

    .center-top {
        text-align: center;
    }
}

.left, .right, .center {
    flex: 1;
    max-width: 250px;
    margin: 0 auto;
}