/* General Layout */
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
}

@media (min-width: 902px) {
    .container {
        display: flex;
    }
}

.sidebar {
    flex: 1;
    margin: 0 20;
    /* font-size: 0.9em; */
}

@media (min-width: 902px) {
    .main{
        flex: 4;
        padding: 10px;
    }
}


/* Textbox for number of results */

#result-box {
    text-align: center;
    /* margin: .5em 7em .5em -25px; */
    padding-left: 20;
    padding-top: 7px;
    padding-bottom: 4px;
    /* border-radius: 10px; */
    /* background-color: lightblue; */
    font-size: 0.8em;
    border-bottom: 3px solid #7C92A6
}

#result-box p {
    margin: 4px 0px;
}

#add-box {
    font-size: 0.9em;
    text-align: center;
    margin: 2em;
    padding: 4px;
    border: 0;

}
button:focus {
    outline: none;
}
@media (min-height: 902px) and (min-width: 902px)  {
    #add-box {
        margin-top: 150px;  
    }
    .stickyside {
        margin-top: 70px;  
    }
}

    /* Sticky behavior on normal/large screens */
@media (min-width: 902px) {
    #add-box {
        position: sticky;
        top: 590px; 
    }
    #result-box {
        position: sticky;
        top: 0px;
    }

    .stickyside {
        position: sticky;
        top: 68px;
    }
}

/* Form */
.listwrapper {
    list-style-type: none;
    padding: 0;
}

.fieldsetcontainer {
    padding: .5em;
}

fieldset {
    border-radius: 10px;
    border: 1.5px solid #7C92A6;
}
form fieldset p {
    margin: 1px;
}
fieldset td{
    padding: .3em;
}

/* Form */
#advanced-box {
    padding: .3em 0;
}
.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.text-only {
    justify-content: flex-start;
    padding: .2em .6em;
}

.text-only > span {
    font-size: 1.2em;
}

.top-search {
    padding: .2em .6em .6em .6em;
}

.form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
}

.form-row > input {
    font-size: 0.8em;
    background-color: rgb(255, 255, 255);
    height: 3em;            
    border: 1px solid #7C92A6;
    padding: 0px 8px;
    border-radius: 4px;
    flex: 2;
}
.form-row > input:focus {
    background-color: rgb(255, 255, 255);
    border: 1px solid #7C92A6;
    outline: none;
}

.bigbutton {
    background: #7C92A6;
    font-size: 1.4em;
    padding: 3px 20px;
    color: white;
    border: 0;
    border-radius: 5px;
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.bigbutton:hover {
    background: #6d8092;
}

.top-search > button {
    margin-top: 10px;
}

.resetbutton {
    background-color:  #F58F89;
    margin-left: 0px;
}

.resetbutton:hover {
    background-color:  #dd817c;
}
.linkButton:hover {
    background-color:  #888a6d;
}

.linkButton{
    background: #A3A685;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8 20;
    display: inline-block;
    font-weight: bold;
    padding: 0.4em;
    border-radius: 5px;
}

#sortrelevance {
    text-align: right;
}

.fieldset_table td {
    border: none;
}

button#add {
    font-size: 0.8em;
    height: 3em;
}
button#add span {
    font-size: 1.6em;
}

#addArticleForm .form-row {
    padding: .1em .5em;
    justify-content: left;
}


/* Table */
table {
    border-collapse: collapse;
    word-break: break-word;
}   

/* column size  */
th {
    word-break: keep-all;
}
@media (min-width: 451px) {
    th a{
        font-size: 1.1em;
    }
    table {
        font-size: 1em;
    }
    table .colAuthor {
       /*max-width: 13%;*/
       width: 0pt;
    }
    td {
        padding: 10px 8px;
    }

    a.externalUrl {
        padding: 5px;
    }
    
    .colUrl {
    /* min-width needed for compatibility with firefox, width for compatibility with chrome */
        width: 30pt;
    }
    .colYear {
        width: 45pt;
    } 
    .colPublication {
        width: 150pt;
    } 
}

/* For very small screens */
@media (max-width: 450px) {
    /* td {
        word-break: keep-all;
    } */
    a.externalUrl {
        padding: 2px;
    }
    th a{
        font-size: 0.9em;
    }
    table {
        font-size: 0.8em;
    }
    td {
        padding: 10px 1px;
    }
    .colTitle {
        width: 200pt;
    }
    .colUrl {
        min-width: 40pt;
    }
    .colYear {
        min-width: 30pt;
    }
}

@media (min-width: 902px) {
    .colTitle {
        min-width: 48%;
    }
}
@media (max-width: 901px) {
    .colTitle {
        min-width: 30%;
    }
}

td {
    vertical-align: top;
    border-bottom: 1px solid #CEE1F2;
    margin: 0px;
}

/* add stripes to table */
#tablehead:nth-child(odd) {
    background-color: rgb(255, 255, 255);;
}

/* Hover over table rows */
#tablehead:hover td {
    background: #6d8092;
    }

/* make table header look nice */
th {
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: #7C92A6;
    border-color: rgb(255, 255, 255); 
    position: sticky;
    padding: 0;
    top: 0px;
}

table a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

th a {
    display: block;
    padding: 4px 10px;
}
th:hover {
    background-color: #6d8092;
}

.clickable:hover {
    background-color: #e4f3ff;
    cursor: pointer;
}

a.externalUrl {
    color: rgb(255, 255, 255);;
    background-color: #A3A685;
    border-radius: 4px;
}
a.externalUrl:hover {
    background-color: #888a6d;
}

.typeicon {
    width: 1.2em;
    height: 1.2em;
}

.hidden_row { 
    display: none; 
    background-color: #EEF2B6;
}

.hidden_content {
    padding: 5px 5px;
    font-size: 1.1em;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}

.hidden_left {
    background-color: #CEE1F2;
}

/* Admin Header*/
.header {
    background-color: #CEE1F2;
    border: 0;
    font-size: 1.2em;
    padding: 15px 0px;
}
@media (min-width: 902px) {
    .header {
        display: flex;
        padding: 20px 60px;
    }

    .center-top {
        text-align: center;
    }
}

.left, .right, .center {
    flex: 1;
    max-width: 250px;
    margin: 0 auto;
}

mark{
    background-color:#EEF2B6;
}

.hiddenRowContent {
    display: none;
}

.tableUrl {
    white-space: nowrap;
}

#sourcecode {
    background: #CEE1F2;
    color: black;
    text-decoration: none;
    margin-left: 5px;
    margin-bottom: 2px;
    padding: 8 20;
    display: inline-block;
    font-weight: bold;
    padding: 0.4em;
    border-radius: 2px;
}