<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon"  href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet"  href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="icon"  href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
<script src="{{ url_for('static', filename='js/download.js') }}"></script>
<script src="{{ url_for('static', filename='js/main_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/common_functions.js') }}"></script>

<div class="container" >
    <div class="sidebar">
        <div id="result-box">
            <p><b>Number of Results: <span id="result_count"> </span>  </b>
            <a href="javascript:void(0)" class="button linkButton" id="download" onclick="downloadBib()"> Download as .bib</a></p>
        </div>

        <div class="stickyside">
            <form id="filterForm" autocomplete="off">
                <ul class="listwrapper">
                    <li class="form-row text-only">
                        <span><b>Search</b></span>
                    </li>
                    <li class="form-row text-only">
                        <input class="fulltext" type="text" name="search" placeholder="Topic, Keywords, DOI, Authors...">
                    </li>
                    <li class="form-row top-search">
                        <button type="submit">Search</button>
                    </li>
                    <div id="advanced-box">
                    <li class="form-row text-only">
                        <span><b>Advanced</b></span>
                    </li>
                    <li class="form-row">
                        <label for="title">Title</label>
                        <input type="text" name="title">
                    </li>
                    <li class="form-row">
                        <label for="author">Author</label>
                        <input type="text" name="author"> 
                    </li>
                    <li class="form-row">
                        <label for="title">From (year)</label>
                        <input type="text" name="timestart" id="timestart">
                    </li>
                    <li class="form-row">
                        <label for="author">Until (year)</label>
                        <input type="text" name="until" id="until"> 
                    </li>
                    
                    <li class="fieldsetcontainer">
                    <fieldset class="source">
                        <legend>Literature Type</legend>
                        <table style="width:100%" class="fieldset_table">
                            <tr>
                                <td><p><label> <input type="radio" name="type" value="article"> Article </label></p></td>
                                <td><p><label> <input type="radio" name="type" value="book"> Book(chapter) </label></p></td>
                            </tr>
                            <tr>
                                <td><p><label> <input type="radio" name="type" value="other"> Other </label></p></td>
                                <td><p><label> <input type="radio" name="type" value="all" checked> All </label></p></td>
                            </tr>
                        </table>
                    </fieldset>
                    </li>
                    <li class="form-row">
                    <button class="reset" onclick="resetPage()">Reset</button>
                    <button type="submit">Search</button>
                    </li>
                </div>
                </ul>
            </form>
        </div>

        <div id="add-box">
            <p><b>Suggest a new article </b>
            <a href={{ suggestLink }} class="button linkButton" target="_blank" rel="noopener noreferrer">Suggest</a></p>
        </div>
    </div>

    <div class="main">
        <div id="showData"></div>
    </div>
    
</div>
</body>
</html>